# Кэш Python и чекпоинты Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Виртуальные окружения (Conda и venv)
.venv/
venv/
env/
.conda/

# Настройки редакторов и ОС
.vscode/
.DS_Store

# Логи и мусор от библиотек
catboost_info/

# Файл модели lgbm_model.joblib здесь НЕ указан, 
# чтобы он попал на GitHub и учитель мог сразу запустить твой API!